<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="فنزین تولدکننده و جری انواع درب و نرده های فانتزی پارتیشن های فلزی چراغ های باغی و روشنایی پارکها نمادهای شهری و مصنوعات فلزی دکوراتیو" />
    <meta name="keywords" content="دکوراسیون داخلی, درب نرده فلزی, پارتیشن, جراغ باغی, نماد شهری, جا شمعی, روشنایی پارک, دکوراتیو, ساعت, لوستر, قاب آینه, فنس" />
    <link rel="canonical" href="http://www.fanzin.ir" />
    <link rel="shortlink" href="http://www.fanzin.ir/" />
    <meta http-equiv="content-language" content="fa" />
    <meta property="og:site_name" content="فنزین" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.Fanzin.ir/" />
    <meta property="og:title" content="فنزین" />
    <meta property="og:description" content="تولید و احرای درب و نرده های فانتزی, انواع پارتیشن های فلزی, چراغ های باغی و روشنایی پارکها, نمادهای شهری, مصنوعات فلزی دکوراتیو" />
    <meta name="theme-color" content="#f05f40" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="icon" href="/images/Site/Fanzin_Favicon_16.png" sizes="16x16" />
    <link rel="icon" href="/images/Site/Fanzin_Favicon_32.png" sizes="32x32" />
    <link rel="icon" href="/images/Site/Fanzin_Favicon_96.png" sizes="96x96" />
    <link rel="icon" href="/images/Site/Fanzin_Favicon_192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_76.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_114.png" sizes="114x114" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_120.png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_144.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_152.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="/images/Site/Fanzin_Favicon_180.png" sizes="180x180" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_57.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_76.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_120.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_144.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_152.png" sizes="152x152" />
    <link rel="apple-touch-icon-precomposed" href="/images/Site/Fanzin_Favicon_180.png" sizes="180x180" />
    <title>@ViewBag.Title - Fanzin.ir</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    @Styles.Render("~/Content/preCss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <header id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header"
             role="navigation"
             aria-label="site"> 
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#top">
                        <img src="/images/Site/Fanzin_logo.png" alt="Fanzin Logo" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-link-href" href="#top">خانه</a></li>
                        <li><a class="navbar-link-href" href="#services">خدمات</a></li>
                        <li><a class="navbar-link-href" href="#aboutus">درباره ما</a></li>
                        <li><a class="navbar-link-href" href="#contactus">ارتباط با ما</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <div class="container-fluid container-screen-background"
         style="background-image: url(/images/Site/Fanzin-Backgorund.jpg)">
        @RenderBody()

        <footer>
            &copy; @DateTime.Now.Year - Fanzin.ir
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/navAnim")
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/nanoGallery")
    @Scripts.Render("~/bundles/scrolling")
    @RenderSection("scripts", required: false)
</body>
</html>
