@model Fanzin.Web.Models.HomePageModel
@{
    ViewBag.Title = "صنایع فلزی فنزین";
}

<main>

    <section class="row">
        <div class="fill-screen">

            @Html.Partial("_SlideCarousel", Model.Slides)

            <div class="welcome-screen-parent">
                <div class="welcome-screen-child">
                    <h1>صنایع فلزی فنزین</h1>
                    <h2>ساخت و تولید انواع قطعات و سازه های فلزی</h2>
                    <a class="badge" href="#services">بیشتر بدانید</a>
                </div>
            </div>
        </div>
    </section>


    <section id="services">
        <div class="spacer-div"></div>
        <section class="row services-row">

            @Html.Partial("_CompanyServicesList", Model.Services)

        </section>
    </section>

    <section id="aboutus">
        <div class="spacer-div"></div>
        <section class="row aboutus-portion">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 aboutus-body">

                @Html.Partial("_AboutUs", Model.AboutUses)

            </div>
        </section>

        <section class="row members-portion">


            @Html.Partial("_MemberCarousel", Model.Members)


        </section>
    </section>


    <section id="contactus">
        <div class="spacer-div"></div>
        <section class="row contactus-portion">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 contactus-body">

                @Html.Partial("_ContactInfo")

                <div class="contactus-form-section collapsible collapsed">

                    @Html.Partial("_ContactUs", Model.ContactUS)

                </div>

            </div>
        </section>
    </section>

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContactJs")
}




